<div class="col-sm-3 col-md-2 whole-height dark-sidebar" ng-controller="HappeningsIndexCtrl">
  <div class="text-center margin-top">
    <a href="#" class="btn btn-info btn-block">New Event</a>        
  </div>
  <ul class='margin-top'>
    <li ng-repeat="h in happenings">
      <a href="#/events/{{h.id}}"><b>{{h.title}}</b> <small class='text-muted'>{{h.happeningOn}}</small>
    </li>
  </ul>
</div>
 <!-- ng-show="showSidenav" -->

<div class="col-sm-9 col-md-10 box-shadow-left whole-height main no-padding">
  <div class="col-sm-8 col-md-9 position-relative">
    <div class="clearfix col-xs-12">
      <div class="pull-left">
        <h5>{{happening.title}}</h5>
        <h6 class="text-muted">{{happening.startsAt}} - {{happening.endsAt}}</h6>
        <b><a href="http://maps.google.com/?q={{happening.location}}"></a>{{happening.location}}</b>
      </div>
      <div class="padding-top-bottom">
        <a class="btn btn-primary btn-lg pull-right">RSVP</a>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
<!--           <div class="card">
            <div class="card-header clearfix">
              <h5 class='pull-left'>Location</h5>
              <a class="pull-right btn btn-link">open map</a>
            </div>
            <div class="card-body">
              <div class="clearfix">
                <div class="pull-left">
                  Tazmania
                </div>
                <div class="map pull-right margin-top">
                  <img src="http://www.placehold.it/150x150" alt="" class="img-responsive">
                </div>
              </div>
            </div>
          </div>   -->
          <div class="card">
            <div class="card-header clearfix">
              <h5 class='pull-left'>Volunteers Needed</h5>
              <a class="pull-right btn btn-link" ng-click="toggleNewRequirement()">Add</a>
            </div>
            <div class="card-body">
              <form ng-submit="addRequirement()" ng-show="newRequirement">
                <div class="form-group">
                  <label for="">New Requirement</label>
                  <input type="text" class="form-control" ng-model="requirement.body" ng-focus="newRequirement"/>
                </div>
              </form>
              <div class="list-group">
                <div class="list-group-item" ng-repeat="r in happening.requirements">{{r.body}}</div>
              </div>
            </div>
          </div>  
          <div class="card">
            <div class="card-header clearfix">
              <h5 class='pull-left'>How to Prepare</h5>
              <a class="pull-right btn btn-link" ng-click="toggleNewTodo()">Add</a>
            </div>
            <div class="card-body">
              <form ng-submit="addTodo()" ng-show="newTodo">
                <div class="form-group">
                  <label for="">New Todo</label>
                  <input type="text" class="form-control" ng-model="todo" ng-focus="newTodo"/>
                </div>
              </form>
              <div class="list-group">
                <div class="list-group-item" ng-repeat="t in happening.todos">{{t}}</div>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-header clearfix">
              <h5 class="pull-left">Carpool</h5>
              <a ng-click="toggleNewCarpool()" class="pull-right btn btn-link">Add</a>
            </div>
            <div class="card-body">
              <form ng-submit="addCarpool()" ng-show="newCarpool">
                <div class="form-group">
                  <label for="">Free Seats</label>
                  <select ng-model='carpool.seats' class='form-control'>
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <label for="">Car's Name</label>
                  <input type="text" class="form-control" ng-model="carpool.name" ng-focus="newCarpool"/>
                </div>
              </form>
              <div class="list-group">
                <div class="list-group-item" ng-repeat="c in happening.carpools">
                  <div class="clearfix">
                    <div class="pull-left">
                      {{c.name}}
                    </div>
                    <div class="pull-right">
                      <span ng-repeat="p in c.passengers"> {{p.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="card">
            <div class="card-header clearfix">
              <h5 class='pull-left'>RSVPs</h5>
              <!-- <a class="pull-right btn btn-link">Add</a> -->
            </div>
            <div class="card-body">
              <p ng-repeat="rsvp in happening.rsvps">{{rsvp.name}}</p>
            </div>
          </div>  
          <div class="card">
            <div class="card-header clearfix">
              <h5 class='pull-left'>Invites</h5>
              <a class="pull-right btn btn-link">Add</a>
            </div>
            <div class="card-body">
              <p ng-repeat="invite in happening.invites">{{invite}}</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-3 chat box-shadow-left whole-height">
    <form>
      <div class="form-group">
        <textarea name="" id="" class="form-control"></textarea>
      </div>
      <div class="text-right">
        <button class="btn btn-success btn-sm">Send</button>
      </div>          
    </form>
  </div>
</div>    