<div class="jumbotron">
  <div class="container text-center">
    <h1>Make Better Memories</h1>
    <div class="lead">The Easiest Way to Plan Fun With Friends</div>
    <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#login-modal">Connect</a>
    <a class="btn btn-lg btn-info" data-toggle="modal" data-target="#login-modal">New Zoink!</a>
    <a class="btn btn-lg btn-success" href="#/zoinks/1">See Sample Zoink</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <blockquote>"<b>Zoinks</b> made planning my last camping trip INSANELY easy."</blockquote>
  </div>
  <div class="col-sm-4">
    <blockquote>"My friends used to plan weekend trips with WhatsApp, Slack, and email chains. Now we use <b>Zoinks</b>."</blockquote>
  </div>
  <div class="col-sm-4">
    <blockquote>"What I like best is <b>Zoinks</b> makes it so a picnic or party plans itself."</blockquote>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h4 class='text-center'>Save Time</h4>
      <p class='lead'>Awesome Sauce</p>
    </div>
    <div class="col-sm-4">
      <h4 class='text-center'>Save Time</h4>
      <p class='lead'>Awesome Sauce</p>
    </div>
    <div class="col-sm-4">
      <h4 class='text-center'>Save Time</h4>
      <p class='lead'>Awesome Sauce</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <h4 class='text-center'>Save Time</h4>
    </div>
    <div class="col-sm-4">
      <h4 class='text-center'>Save Time</h4>
    </div>
  </div>
</div>