<div class="col-sm-3 col-md-2 whole-height dark-sidebar">
  <div class="text-center margin-top">
    <a href="#" class="btn btn-info btn-block">New Event</a>        
  </div>
  <ul class='margin-top'>
    <li><a href="#/events/0"><b>Zen Camping</b> <small class='text-muted'>Oct 6-8</small></li></a>
    <li><a href="#/events/1"><b>Zen Camping</b> <small class='text-muted'>Oct 6-8</small></li></a>
    <li><a href="#"><b>Zen Camping</b> <small class='text-muted'>Oct 6-8</small></li></a>
  </ul>
</div>